# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración personal
.idea/
.vscode/
*.swp
*.swo

# Dependencias
node_modules/
# Ignorar el archivo .env en la raíz
.env


# Compilados
*.class
*.dll
*.exe
*.o
*.so

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp
*.bak

# Archivos de configuración de entorno
.env
.env.local
.env.*.local

# Archivos de compilación
dist/
build/
out/

# Dependencias de paquetes (Python)
__pycache__/
*.py[cod]

# Directorios de cobertura de pruebas
coverage/
.nyc_output/
.env

package-lock.json
